@import '../../../styles/colors.scss';

.rating {
  margin-bottom: 1.5rem;
  .creator {
    display: flex;
    font-size: 0.95rem;
    color: $gray-dark;
    .stars {
      width: 100px;
    }
  }
  .date {
    font-size: 0.95rem;
    color: $gray-dark;
  }
}

// .ratingsTotal {
// }

.stars {
  bottom: 1rem;
  font-size: 1rem;
  color: $golden;
  line-height: 1.25;
  img {
    vertical-align: bottom;
    height: 18px;
  }
}
