@import '../../../styles/colors.scss';

.ratingsSum {
  flex-basis: 40%;
  text-align: center;

  .ratio {
    font-size: 2rem;
    font-weight: 500;
  }
}
.stars {
  bottom: 1rem;
  font-size: 1rem;
  color: $golden;
  line-height: 1.25;
  img {
    vertical-align: bottom;
    height: 40px;
  }
}
