@import '../../styles/colors.scss';

.productPage {
  padding: 1rem;
}
.productBox {
  display: flex;

  padding: 2rem 0;
  // box-shadow: 0px 2px 5px $gray-mid;

  .img {
    object-fit: contain;
    margin-right: 1rem;
    min-width: 50%;

    height: 500px;
    box-shadow: 0px 2px 5px $gray-mid;
    border-radius: 10px;
  }

  .info {
    padding-top: 1rem;
    color: $gray-darkx;
    .name {
      font-size: 1.75rem;
    }
    .desc {
      max-width: 600px;
      font-size: 1.25rem;
      margin-bottom: 0.5rem;
      color: $gray-dark;
    }
    .seller {
      font-size: 1.1rem;
      color: $gray-dark;

      &:hover {
        text-decoration: underline;
      }
    }
    .price {
      font-weight: 600;
      font-size: 2.5rem;
      margin: 1rem 0;
    }
    .ratings {
      display: flex;

      margin-top: 0.25rem;
      .stars {
        bottom: 1rem;
        font-size: 1rem;
        color: $golden;
        line-height: 1.25;
        img {
          vertical-align: bottom;
          height: 18px;
        }
      }
    }
  }
}
