@import '../../styles/colors.scss';

.productPage {
  padding: 1rem;
}
.productBox {
  display: flex;

  padding: 2rem 0;
  // box-shadow: 0px 2px 5px $gray-mid;

  .img {
    object-fit: contain;
    margin-right: 1rem;
    min-width: 50%;

    height: 500px;
    box-shadow: 0px 2px 5px $gray-mid;
    border-radius: 10px;
  }

  .info {
    padding-top: 1rem;
    color: $gray-darkx;
    .name {
      font-size: 1.75rem;
    }
    .desc {
      max-width: 600px;
      font-size: 1.25rem;
      margin-bottom: 0.5rem;
      color: $gray-dark;
    }
    .seller {
      font-size: 1.1rem;
      color: $gray-dark;

      &:hover {
        text-decoration: underline;
      }
    }
    .price {
      font-weight: 600;
      font-size: 2.5rem;
      margin-bottom: 1rem;
    }

    .addCart {
      font-size: 0.95rem;
      font-weight: 600;
      color: $gray-darkx;
      background: none;
      border: none;
      padding: 0.5rem 0.75rem;
      box-shadow: 0px 2px 5px $gray-mid;
      border-radius: 5px;
      transition: background 0.2s ease;
      transition: color 0.2s ease;
      &:hover {
        color: $golden;
      }
      &:active {
        background: $gray-lightx;
      }
    }
  }
}
