@import '../../styles/colors.scss';

.signinPage {
  padding-top: 3rem;
  height: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.formBox {
  width: 500px;
  margin: 0 auto;

  border-radius: 10px;
  padding: 1rem 2rem;
  box-shadow: 0px 2px 5px $gray-mid;
}
