@import './../../styles/colors.scss';

.formBox {
  padding: 1rem 2rem;
  max-width: 600px;
  margin: auto;
  box-shadow: 0px 2px 5px $gray-mid;
  border-radius: 10px;
}

.form {
  font-size: 1.2rem;
  color: $gray-darkx;
  label {
    p {
      margin-top: 0.5rem;
    }
    input[type='text'],
    input[type='number'],
    textarea {
      font-size: 0.95rem;

      padding: 0.5rem;
      width: 100%;
      border: none;
      border-radius: 5px;
      outline: none;
      background: $gray-lightx;

      &:focus {
        box-shadow: 0px 2px 5px $gray-mid;
      }
    }
    textarea {
      resize: vertical;
      min-height: 100px;
    }
  }
  button {
    margin-top: 1rem;
    width: 100%;
    padding: 0.5rem;
    border-radius: 5px;
    border: none;
    background: transparent;
    box-shadow: 0px 2px 5px $gray-mid;
    font-weight: 600;
  }
}
.signupLink {
  width: 100%;
  button {
    font-size: 0.9rem;
    font-weight: 500;
    padding: 0;
    box-shadow: none;
    &:hover {
      text-decoration: underline;
    }
  }
}

.radioGroups {
  display: flex;
}

.radioGroup {
  text-align: left;
  &:first-child {
    flex-basis: 50%;
  }

  p {
    margin-top: 1rem;
  }
  label {
    display: block;
  }
}
