@import '../../styles/colors.scss';

button {
  background: #fff;
  position: relative;
  z-index: 50;
  border: none;
  color: $gray-dark;
}

.container {
  position: absolute;
  top: 0;
  right: 0;
  white-space: nowrap;

  .btn {
    text-align: right;
    padding: 0.5rem;
    background: transparent;
    outline: none;
    position: absolute;
    right: 0;
  }
  .menu {
    background: #fff;
    text-align: center;
    position: absolute;
    top: 20px;
    right: 0;
    max-width: 80px;
    border-radius: 5px;
    overflow: hidden; // for corners
    .choice {
      padding: 5px;
      width: 100%;
      &:hover {
        background: $gray-lightx;
      }
    }
  }
}
img {
  background: transparent;
}
.svgSmall {
  width: 18px;
}
.svgMed {
  width: 24px;
}
.svgBig {
  width: 36px;
}
li,
button {
  margin: 0;
  padding: 0;
}
