@import '../../../styles/colors.scss';

.navbar {
  height: 70px;
  background: #fff;
  // box-shadow: 0 2px 4px $gray-light;
  // margin-bottom: 0.5rem;
  padding: 0 1rem;
  display: flex;

  align-items: center;

  @media screen and (max-width: 768px) {
    padding: 0 0.25rem;
  }
}

.signIn {
  min-width: 80px;
  .signoutadd {
    text-align: center;
    a {
      display: block;
      font-size: 1rem;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  p {
    font-size: 1.2rem;
    &:hover {
      text-decoration: underline;
    }
  }
}
